<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disciplinas 2021</title>
    <style>
    tr td:first-child { text-align: left; }

    body { background-color: #DEB887	;
        color: white; }
        form, table {
            width: 50%;
            margin: auto;
            border: 1px solid #DEB887	;
            padding: 50px;
            box-sizing: border-box;
            border-radius: 10px;
        }
        form > div {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            margin: 10px;
        }
        form > div > label {
            font-size: 18pt;
        }
        form > div > input {
            margin-top: 15px;
            font-size: 18pt;
            padding: 5px 10px;
        }
        table {
            margin-top: 15px;

        }
        #submit{
            background: #D2691E		;
            color: #fff;
        }
        thead th {
            background: #D2691E	;
            color: #fff;
        }
        td{
            background: #D2691E	;
            color: #fff;
        }
        tbody > tr > td{
            float: center;
        }
        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            color: #DEB887	;
        }
    </style>

</head>
<body>
    {% for message in app.flashes('message') %}
    <h2>
        {{message}}
    </h2>
    {% endfor %}
    {{ form_start(formDisciplina,{'action': path('adicionar')}) }}
        {{ form_errors(formDisciplina) }}
        {{ form_widget(formDisciplina) }}
        <input type="submit" value="Matricular"/>
    {{ form_end(formDisciplina) }}
    <table>
        <thead>
            <tr>
                <th>Titulo da disciplina</th>
                <th>Nome do professor</th>
                <th>Creditos</th>
            </tr>
        </thead>
        <tbody>
            {% for disciplina in disciplinas %}
            <tr>
                <td>{{ disciplina.nome }}</td>
                <td>{{disciplina.professor}}</td>
                <td> {{disciplina.creditos}}</td>
                <td>
                    <a href="{{ path('editar',{'id':disciplina.id})}}">editar</a>
                    <a class="text-danger" href="{{ path('remover',{'id':disciplina.id}) }}">remover</a>
                </td>  
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>